.calendarBottomText {
  text-anchor: middle;
  fill: #475569;
  font-weight: 500;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: #e2e8f0;
}

.calendarTopText {
  text-anchor: middle;
  fill: #334155;
  font-weight: 600;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: #f8fafc;
  stroke: #e2e8f0;
  stroke-width: 1.2;
}